body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f8ebe9;
}

.cover-page {
    width: 1000px;
    height: 650px;
    margin: 80px auto; 
    overflow: hidden;
}

.priview-img {
    width: 175px;
    height: 110px;;

}

.firs-section {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    float: left;
    width: 40%;
}



.second-section {
    float: right;
    width: 60%;
    height: 100%;;
    background-color: #ffffff;
}

img {
    vertical-align: middle;

    
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    color: #999;
}

.click-back {
    margin: 35px 0 0 30px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    opacity: .7;
     color: #627a99;  

}

.click-back:before {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 15px;
    height: 15px;
    background: url(img/arrow-back.svg) no-repeat center;
    background-size: contain;
    color: #999;
    opacity: .7;

}

.header-box {
    float: right;
    margin: 35px 30px 0 0px;
}

.media-box {
    margin-top: 30%;
    margin-left: 15%;
}

.first-text{
    font-weight: 500;
    font-size: 65px;
    font-family: 'Playfair Display';
    position: relative;

}


.first-text:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 4px;
    background: #333;
    right: 30px; bottom: 30px;
}

.item-text {
    font-family:  'Playfair Display';
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 25px;

}

.nitherlands {
    margin-right: 30px;
}

.item-play {
  vertical-align: middle;
  margin-left: -100px;
  width: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.item-context {
    width: 200px;
    height: 148px;
    float: right;
    font-weight: 300;
    margin-right: 95px;
    margin-top: -120px;
}
 
.img-view {
    height: 15px;
    width: 15px;

}

.text-view {
    font-size: 12px;
    margin-bottom: 20px;
}

a:hover {
    color: black;
}